body 
    background-color: rgb(244, 244, 244);
    font-size 14px
    font-family: 'Rubik', sans-serif;

h2,h3,h4,h5,ul,body 
    padding 0px
    margin 0px

.wrapper
    min-height: 100vh;
    overflow: hidden
    .col1
        float left 
        position relative
        z-index 999
        width 17%
    .col2
        float left 
        width 83%
.sidebar
    background-color #fff
    min-height 100vh
    .seccion-ar
        background-color rgb(17, 155, 95)
        box-shadow 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
    .logo
        display block 
        margin 0px auto 
        width 70%
    .user
        color #fff
        padding 16px
        span 
            color #fff
        a 
            color #fff
            font-size 1.2rem
.main 
    display block
    margin-top 8px
    ul 
        li
            margin-bottom 4px
            a 
                color rgb(139, 139, 139)
                display block
                font-size 1.1rem
                padding 12px 16px
                text-decoration none
                ion-icon
                    margin-right 10px
                &:hover 
                    background-color rgb(17, 155, 95)
                    box-shadow 0 0.5rem 1rem rgb(183, 183, 183)
                    color #fff
.navbar 
    background-color rgb(17, 155, 95)
    a
        color #fff 
        text-decoration none

.pagina 
    padding-top 16px
    padding-bottom 16px
    .breadcrumb 
        background-color #fff
        box-shadow 0 0.5rem 1rem rgb(0,0,0,0.10)
                    

