body 
    margin 0px

.m16
    margin-top 16px

.box
    background-color #fff
    border-radius 8px 8px 0px 0px
    border 1px solid #d6d6d6
    position absolute
    width 770px

    .label_name
        margin 10px
    
    .btn-success
        width 90%
        border 0px
    .form-control
        width 310px
        &:focus
        &:active
            outline none
            box-shadow none
    .contenedor
        padding 16px
        
    .header
        background-color rgb(91, 91, 91)
        border-radius 8px 8px 0px 0px
        padding 16px
        a
            img 
                display block
                margin 0px auto
                width 30%
    .radio_btn
        margin 10px 

.box_login
    left calc(50% - 250px)
    top calc(50% - 239px)

.box_registro
    left calc(50% - 385px)
    top calc(50% - 337px)

.ion
    height 25px
    width 25px

.caja 
    float left
    margin-left 5px