body 
    background-color rgb(245, 245, 245)
    font-size 14px

nav 
    background-color #fff
    border-bottom 4px solid color rgb(21, 73, 33)
    .navbar-nav 
        a 
            color rgb(0, 0, 0)
        li.nav-item
            a.btn
                border 1px solid rgb(245, 245, 245)
                color #000
                &:hover
                    background-color rgb(165, 165, 165)
                    border 1px solid rgb(245, 245, 245)
        li.link-acc
            overflow hidden
            a
                display inline-block
                float left
                margin-right 0px
                &:first-child
                    border-radius 4px 0px 0px 4px
                    border-right 1px solid #fff
                &:last-child
                    border-radius 0px 4px 4px 0px

.barra_home
    margin-top 32px
    .categorias
        a
            background-color #111
            border-radius  4px
            color #fff
            display block
            padding 17px
            text-transform uppercase
            text-decoration none
            width 70%
            &:hover
                background-color rgb(87, 87, 87)

